body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #F2F5F5;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    display: -ms-flexbox;
    display: -webkit-flex;
    background-color: #201D1E;
    position: fixed;
    z-index:1;
    overflow-x: hidden;
}
aside {
    width: 20vw;
    height: 90vh;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -ms-flex-direction: column;
    background-color: #201D1E;
    position: fixed;
    margin-top: 10vh;
}
#sock {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F2F5F5;
    position: fixed;
    margin-top: 9vh;
    margin-left: 19vw;
    box-shadow: 0px 0px 20px 5px #F2F5F5;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brock {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: transparent;
    position: fixed;
    margin-top: 9vh;
    margin-left: 19vw;
    box-shadow: 0px 0px 5px 5px #F2F5F5;
    z-index: 1;
}
.fa-braille {
    color: #201D1E;
    cursor: pointer;
}

#view {
    width: 80vw;
    height: 90vh;
    background-color: green;
    position: fixed;
    margin-left: 20vw;
    margin-top: 10vh;
    background-color: #F2F5F5;
    z-index: 1;
    display: flex;
    justify-content: center;
}
/*projects buttons*/
